:host {
  width: 100%;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  font-size: 1.25rem;
  box-shadow: 0px 4px 7px 1px rgb(0 0 0 / 20%);
  position: relative;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: #fff;
  color: #000;
  padding: 22px;
  font-size: 14px;
  box-shadow: 0px 4px 7px 1px rgb(0 0 0 / 20%);
}

main {
  margin: 60px;
  padding: 20px;
  background-color: #fff;
  border-radius: 6px;
}